.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li
        = message
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div.mb-3
      = f.label :nickname, 'ユーザー名(アルファベットのみ、空白禁止、20文字以内)', class: 'form-label'
      = f.text_field :nickname, class: 'form-control'
    %div.mb-3
      = f.label :introduction, 'プロフィール(200文字以内)', class: 'form-label'
      = f.text_area :introduction, class: 'form-control'
    %div.mb-3
      = f.label :blogurl, ' ブログURL', class: 'form-label'
      = f.text_area :blogurl, class: 'form-control'
    .d-flex.justify-content-end.mt-3
      = link_to :back do
        .btn.btn-secondly.me-3
          %p 戻る
      = f.submit '保存', class: 'btn btn-primary'