= link_to post_path(post) do
  .card.mb-3
    .card-body
      %p
        = post.content
      %p
        = post.display_created_at
      %p.mt-3
        = image_tag 'default-avatar.png', class: 'default-avatar'
        = post.auther_name