.container
  .card.mb-3
    .card-body
      %p
        = @post.content
      %p
        = @post.display_created_at
      %p.mt-3
        = link_to account_path(@post.user) do
          = image_tag 'default-avatar.png', class: 'default-avatar'
          = @post.auther_name

  .d-flex.justify-content-end
    = link_to :back do
      .btn.btn-secondly
        %p 戻る
    - if user_signed_in? && current_user.has_written?(@post)
      = link_to edit_post_path(@post) do
        .btn.btn-primary.me-3.ms-3
          %p 編集
      = link_to post_path(@post), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' } do
        .btn.btn-danger
          %p 削除